html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  min-height: 100vh;
  color: #444;
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-shadow: 1px 1px #fff;
  margin: 0;
  padding: 25px 25px 50px; }

h1 {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 0; }

p {
  font-weight: 300; }

a,
a:visited {
  font-weight: 700;
  color: #5255C4;
  text-decoration: none;
  border-bottom: 1px solid #444; }
  a:hover, a:active,
  a:visited:hover,
  a:visited:active {
    color: #8b8dd7;
    border-bottom: 1px solid #9ea0de; }

strong {
  font-weight: 700; }

.container {
  max-width: 700px;
  margin: auto; }

.logo svg {
  max-width: 300px;
  width: 100%; }
  .logo svg path {
    fill: #5255C4; }

.logo span {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden; }
